/* CSS RESET */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
a:visited {
    color: inherit;
}
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
[hidden] {
    display: none !important;
}

[disabled] {
    cursor: not-allowed;
}

:focus:not(:focus-visible) {
    outline: none;
}
.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
    top: -9999px;
}


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
*:focus {
    outline: 0 !important;
}
body {
  background-color: black;
  color: white;
  text-align: center;
}
h1, h2, h3, h4 {
  margin: .4rem;
  padding: .2rem;
}
h1 {
  font-size: 3.2rem;
  font-family: 'Libre Caslon Display', serif;
  transition: all .3s ease-in-out;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
a {
  text-decoration: none;
}
#gameWrapper {
  position: relative;
  margin: 4.6rem 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}
#gameWrapper img {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: rgb(251, 192, 123);
  transition: filter .15s ease-in-out;
}
#introduction {
  position: absolute;
  display: none;
  background-color: black;
}
.slide {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2.6rem;
}
.slide p {
  margin: 1.6rem 0;
  background-color: rgba(0, 0, 0, .4);
}
.nextSlide {
  position: absolute;
  bottom: 0;
  left: calc(50% - 34px);
  background-image: url("../Images/IconNextTransparent.png");
  width: 68px;
	background-size: 68px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: unset;
	min-height: 68px;
	height: auto;
	color: #fff;
  z-index: 10000;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.nextSlide:hover {
  background-image: url("../Images/IconNextWhite.png") !important;
}
.squareIntro {
  border: 1px solid white;
  width: 60px;
  height: 60px;
}
.squareZone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#groupIntro .chicken {
  margin: 1.5rem;
}
.chickenIntro {
  animation: chicken 3s linear 0s infinite;
}
.foxIntro {
  animation: fox 2s linear 0s infinite;
}
.foxIntro2 {
  animation: fox2 2s linear 0s infinite;
}
#mainButtons:hover ~ img {
  filter: blur(3px);
}
#game {
  width: 900px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  outline: 1px solid rgb(251, 192, 123);
  outline-offset: 30px;
}
.square {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
}
.special {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
}
.chicken, .fox {
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;

}
.chicken {
  background-image: url("../Images/chickenIcon.png");
}
.fox {
  background-image: url("../Images/foxIcon.png");
}
.possibleMoves {
  background-color: rgba(255, 0, 0, .4);
}
.possibleAttacks {
  background-color: rgba(255, 255, 0, .4);
}
.over {
  border: 1px dashed white;
}
#winner {
  position: absolute;
  display: none;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10000;
}
#winner > p {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 5.6rem;
  font-weight: bold;
  color: rgb(251, 201, 25);
}
#status {
  font-size: 2.6rem;
  color: rgb(233, 189, 33);
}
#info {
  font-size: 2.2rem;
}
#mainButtons {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#btnStart {
}
#btnIntro {
}
input {
  color: white;
}
input[type="button"] {
  background-color: black;
  border: 1px solid white;
  font-size: 2.2rem;
  height: 60px;
  padding: 0 1.4rem;
  -webkit-appearance:none;
  opactiy: 1;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
input[type="button"]:hover {
  background-color: white;
  color: black;
}
input[type=checkbox] {
  display:none;
}
#controlButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
input[type=checkbox] + label {
   background-image: url("../Images/rotateIconWhite.png");
   background-size: 40px 40px;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   height: 40px;
   width: 40px;
   display:inline-block;
   padding: 0;
   margin: 0;
   transition: all .2s ease-in-out;
}

input[type=checkbox]:checked + label {
  background-image: url("../Images/rotateIconBlack.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  display:inline-block;
}
input[type=checkbox]:checked + label::after {
  content: "Rotar Pantalla Activado";
  position: absolute;
  top: -70px;
  left: 0;
  width: 50px;
  text-align: left;
  animation: hide 0s 3s forwards;
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width: 650px) {
  #game {
    width: 300px;
    height: 300px;
  }
  .square {
    width: 50px;
    height: 50px;
  }
  .chicken {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    background-size: 40px 40px;
  }
  .fox {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    top: calc(50% - 20px);
  }
  #introduction {
    width: 320px;
    height: 320px;
  }
  @keyframes chicken {
    0% {
      left: 0;
    }
    10% {
      left: 0;
    }
    25% {
      left: -130px;
    }
    40% {
      left: 0%;
    }
    60% {
      left: 0%;
    }
    75% {
      left: 130px;
    }
    90% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes fox {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    40% {
      left: -260px;
    }
    60% {
      left: -260px;
    }
    80% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes fox2 {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    40% {
      left: -130px;
    }
    50% {
      left: -130px;
    }
    60% {
      left: -260px;
    }
    80% {
      left: -260px;
    }
    100% {
      left: 0;
    }
  }
}
@media only screen and (min-width: 651px) {
  #game {
    width: 600px;
    height: 600px;
  }
  .square {
    width: 100px;
    height: 100px;
  }
  .chicken {
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    background-size: 60px 60px;
  }
  .fox {
    width: 60px;
    height: 60px;
    top: calc(50% - 25px);
    background-size: 60px 60px;
  }
  #introduction {
    width: 620px;
    height: 620px;
  }
  @keyframes chicken {
    0% {
      left: 0;
    }
    10% {
      left: 0;
    }
    25% {
      left: -280px;
    }
    40% {
      left: 0%;
    }
    60% {
      left: 0%;
    }
    75% {
      left: 280px;
    }
    90% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes fox {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    40% {
      left: -560px;
    }
    60% {
      left: -560px;
    }
    80% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes fox2 {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    40% {
      left: -280px;
    }
    50% {
      left: -280px;
    }
    60% {
      left: -560px;
    }
    80% {
      left: -560px;
    }
    100% {
      left: 0;
    }
  }
}
