/* CSS RESET */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
a:visited {
    color: inherit;
}
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
[hidden] {
    display: none !important;
}

[disabled] {
    cursor: not-allowed;
}

:focus:not(:focus-visible) {
    outline: none;
}
.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
    top: -9999px;
}


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
body {
  background-color: black;
  color: white;
  text-align: center;
}
h1, h2, h3, h4 {
  margin: .4rem;
  padding: .2rem;
}
h1 {
  font-size: 3.2rem;
}
#gameWrapper {
  position: relative;
  margin: 4.6rem 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#gameWrapper img {
  position: absolute;
  top: 0;
  z-index: -1;
}
#game {
  width: 900px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  outline: 1px solid white;
  outline-offset: 30px;
}
.square {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
}
.special {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .6);
}
.chicken, .fox {
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}
.chicken {
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  background-color: red;
}
.fox {
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  background-color: blue;
}
.possibleMoves {
  background-color: rgba(255, 0, 0, .4);
}
.possibleAttacks {
  background-color: rgba(255, 255, 0, .4);
}
.over {
  border: 1px dashed white;
}
#status {
  font-size: 2.6rem;
  color: rgb(245, 182, 60);
}
#info {
  font-size: 2.2rem;
}
input[type="button"] {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 2.2rem;
  padding: .4rem;
  cursor: pointer;
}
input[type="button"]:hover {
  border: 1px dashed white;
}
@media screen and (max-width: 650px) {
  #game {
    width: 300px;
    height: 300px;
  }
  .square {
    width: 50px;
    height: 50px;
  }
  .chicken {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
  }
  .fox {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
  }
}
@media only screen and (min-width: 651px) {
  #game {
    width: 600px;
    height: 600px;
  }
  .square {
    width: 100px;
    height: 100px;
  }
  .chicken {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
  }
  .fox {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
  }
}
